body, html {
    height: 100%;
}
body {
    height:100%;
    width: 100%;
    background: url(https://images.unsplash.com/photo-1630411158938-6259ac75739a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  /*  filter: blur(8px);
    -webkit-filter: blur(8px);*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.titulo {
    font-size: 3rem;
    color: #200A2A;
    /*text-align: center;*/
    cursor:default;
}
.webtextsuscriptores {
    font-size: 1rem;
    color: #140308;
    /*text-align: center;*/
    cursor: default;
}
.textbuscarsusc {
    font-size: 2rem;
    color: #200A2A;
    /*text-align: left;*/
    cursor: default;
}
.btn-secondary {
    border-radius: 10000px;
}



.animate__tada {
    animation: headShake; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
	}